*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #00000080;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: clamp(20px, 8vw, 100px);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.descricao {
    font-size: clamp(20px, 4vw, 50px);
    color: #ffffff;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.linkedin {
    width: 90px;
    height: 40px;
    background-color: #ffceaa;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.github {
    width: 80px;
    height: 40px;
    background-color: #ffceaa;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.instagram {
    width: 105px;
    height: 40px;
    background-color: #ffceaa;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

a :hover {
    background-color: darkblue;

}